ANTHROPIC_API_KEY= 
# OPENAI_API_KEY=  # no longer used
DEEPGRAM_API_KEY=
ELEVEN_API_KEY=
ELEVEN_VOICE_ID=


DEMO_RECIPIENTS=
HOSPITAL_EMAILS=<your email>@gmail.com
SENDER_EMAIL=<your email>@gmail.com
EMAIL_DEBUG_MODE=false # set to false to send actual email

SENDGRID_API_KEY=

RESEND_API_KEY=

SMARTYSTREETS_AUTH_ID=
SMARTYSTREETS_AUTH_TOKEN=