OPENAI_API_KEY=
DEEPGRAM_API_KEY=
ELEVEN_API_KEY=
ELEVEN_VOICE_ID=


DEMO_RECIPIENTS=
HOSPITAL_EMAILS=
SENDER_EMAIL=
EMAIL_DEBUG_MODE=

SENDGRID_API_KEY=

RESEND_API_KEY=

SMARTYSTREETS_AUTH_ID=
SMARTYSTREETS_AUTH_TOKEN=
